<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>远程开门</title>
	<style>
		h1{
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>您当前没有选择项目</h1>
</body>
</html>